@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

// Анимации //
@keyframes blind {
  0% {
    opacity: 0.5;
    color: #fff;
  }

  100% {
    opacity: 1;
    color: #c8a35f;
  }
}
@keyframes pulsar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes fly {
  0% {
    transform: translate(0, 0);
    background: url("../img/vectorplane.svg") 41% 58% / 50px 50px no-repeat;
  }
  33% {
    transform: translate(100px, -100px);
    opacity: 0;
    background: url("../img/vectorplane.svg") 41% 58% / 50px 50px no-repeat;
  }
  66% {
    transform: translate(-100px, 100px);
    opacity: 0;
    background: url("../img/vector-plane-black.svg") 41% 58% / 50px 50px
        no-repeat,
      #fff;
  }
  100% {
    transform: translate(0, 0);
    background: url("../img/vector-plane-black.svg") 41% 58% / 50px 50px
        no-repeat,
      #fff;
  }
}

body {
  font-family: Roboto;
  background-color: #2f343a;
}

// Вспомогательные элементы

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.gold-line {
  margin: 120px 0 40px 0;
}

// Фиксированая полоса с телефоном и почой

.header_fixline {
  z-index: 2;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 45px;
  left: 0px;
  top: 0px;
  background: #c8a35f;
  opacity: 0.97;
  a {
    z-index: 2;
    color: #fff;
    opacity: 0.5;
    transition-duration: 700ms;
    &:hover {
      opacity: 1;
    }
  }
  .header_fixline__row {
    display: flex;
    justify-content: space-between;
    .lang {
      display: flex;
      a {
        margin-right: 15px;
      }
    }
  }
}

// Логотип и навигационное меню

.header_navigation {
  margin: 72px 0 27px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header_navigation__logo {
  display: flex;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #fff;
  }
  .our_office {
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    transition-duration: 700ms;
    &:hover {
      color: #c8a35f;
    }
    &::before {
      content: ("");
      width: 25px;
      height: 25px;
      display: inline-block;
      margin: 0 10px 0 0;
      background: url("../img/our-offices.svg") 0 50% no-repeat;
      animation: pulsar 6s infinite;
    }
  }
}
.header_navigation__menu {
  display: flex;
  align-items: center;
  .menu__icon {
    //display: none;
  }
}
.menu__arrow {
  display: none;
}

.menu__body {
  padding: 2px;
  .our_office_1 {
    font-size: 14px;
    color: #fff;
    display: none;
  }
  .menu__list {
    display: flex;
    span {
      display: block;
      position: relative;
      &:before {
        content: ("");
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        background-color: #e7e8fb;
        transform: translateY(100%);
        opacity: 0;
        transition-duration: 500ms;
      }
      &:after {
        content: ("");
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0;
        background-color: #fff;
        transform: translateY(-100%);
        opacity: 0;
        transition-duration: 500ms;
      }
    }

    // Анимация для пунктов меню навигации

    span:hover::before,
    span:hover::after {
      opacity: 1;
      transform: translateY(0);
    }
    a {
      padding: 0 3px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fafafa;
      position: relative;
      transition-duration: 0.5s;
      &:hover {
        color: #c8a35f;
      }

      &:before {
        content: ("");
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #fcf5f5;
        transform: translateX(-100%);
        opacity: 0;
        transition-duration: 500ms;
      }
      &:after {
        content: ("");
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: translateX(100%);
        opacity: 0;
        transition-duration: 500ms;
      }
    }
    li {
      overflow: hidden;
      margin: 0 0 0 30px;
      &:last-child {
        display: none;
        margin: 0;
      }
    }
    a:hover::before,
    a:hover::after {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// Первый блок с информацией

.first_screen {
  background: url("../img/Rectangle-2.jpg") 50% 50% / cover no-repeat;
  padding: 120px 0 200px 0;
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    bottom: 50px;
    right: calc(50% - 15px);
  }
}
.first_screen__info {
  max-width: 920px;
  margin: 0 auto;
  padding: 45px 70px;
  border: 1px solid #c8a35f;
  box-sizing: border-box;
  .first_screen__title {
    margin: 0 0 45px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }
}

// Слайдер с услугами

.services {
  position: relative;
  .grey_block {
    position: absolute;
    z-index: -1;
    background-color: #393f47;
    height: 100%;
    width: 40%;
  }
  .grey_block_2 {
    right: 0;
  }
  .slider {
    position: relative;
    .slick-arrow {
      position: absolute;
      z-index: 1;
      right: 0;
      font-size: 0;
      width: 161px;
      height: 25px;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
      background: url("../img/services__back.svg") 0 0/ 100% no-repeat;
      bottom: 120px;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
      top: 5px;
      background: url("../img/services__next.svg") 0 0/ 100% no-repeat;
    }
    .slick-slide {
      display: flex;
    }
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

    .slider__item {
      .services__row {
        margin: 0 0 120px 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        max-height: 300px;
        .services__item {
          flex: 1 1 50%;
          height: 100%;
          width: 45%;
          img {
            max-width: 100%;
          }
        }
      }
    }
    .services__info {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      max-height: 300px;
      p {
        flex-grow: 1;
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 50px 0;
        color: #ffffff;
      }
      .services__title {
        margin: 0 0 30px 0;
      }
      .services__button {
        width: 220px;
        height: 55px;
        background: #c8a35f;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        transition-duration: 300ms;
        &:hover {
          transform: scale(0.99);
          //transform: translate(2px, -2px);
          box-shadow: 0px 0px 1px #000;
        }
        &:active {
          transform: scale(0);
        }
        &:before {
          content: ("");
          display: block;
          position: absolute;
          width: 25%;
          height: 110%;
          top: 0;
          left: 0;
          background-color: #fff;
          opacity: 0;
          transform: rotate(30deg);
          transform: translateX(0);
          transition-duration: 300ms;
        }
        &:after {
          content: ("");
          display: block;
          position: absolute;
          width: 25%;
          height: 110%;
          top: 0;
          right: 0;
          background-color: #fff;
          opacity: 0;
          transform: translateX(0);
          transition-duration: 300ms;
        }
      }

      .services__button:hover::before {
        opacity: 0.1;
        transform: translateX(400%);
      }

      .services__button:hover::after {
        opacity: 0.1;
        transform: translateX(-400%);
      }
    }
  }
  .services__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
  }
}

// Галерея всех услуг

.all_services {
  margin: 0 0 120px 0;
  .all_services__title {
    margin: 0 0 60px 0;
  }
  .all_services__row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 800px;
    .all_services__item {
      background-color: #393f47;
      width: 24.8%;
      border: 0.5px solid #2f343a;
      transition-duration: 300ms;
      .all_services__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 42px;
        transition-property: all;
        transition-delay: 1s;
        transition-duration: 600ms;
        span {
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #fff;
        }
      }
      &:hover {
        transform: scale(1.1);
        background-color: #c8a35f;
        .all_services__link {
          transition-property: all;
          transition-delay: 1s;
          transition-duration: 600ms;
          .all_services__item_image {
            animation: fly 0.5s;
            background: url("../img/vector-plane-black.svg") 41% 58% / 50px 50px
                no-repeat,
              #fff;
          }
        }
      }
    }
  }
}

.all_services__item_image {
  background: url("../img/vectorplane.svg") 41% 58% / 50px 50px no-repeat;
  margin-bottom: 23px;
  width: 70px;
  height: 70px;
  padding: 20px;
  border-radius: 50%;
}

// Информация о компании

.about_company {
  margin: 0 0 120px 0;
  position: relative;
}

.about_company__grey_block {
  position: absolute;
  z-index: -1;
  background-color: #393f47;
  height: 100%;
  width: 20%;
  left: 40%;
}

.about_company__row {
  display: flex;
  justify-content: space-between;
}

.about_company__item {
  margin: 80px 0;
  .gold-line {
    margin-top: 0;
  }
}

.about_company__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 32%;
  border: 0.25px solid #c8a35f;
  img {
    flex-grow: 1;
    object-fit: cover;
    width: 100%;
  }
}

.block_text {
  padding: 15px 0;
  h2 {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f343a;
  }
  h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    letter-spacing: 0.05em;
  }
  p {
    font-size: 12px;
    line-height: 14px;
  }
}

.about_company__text {
  width: 40%;
  p {
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
}

.about_company__tiles {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

// карта

.map {
  width: 100%;
  iframe {
    width: 100%;
  }
}

// футер

footer {
  padding: 60px 0;
  background: #c8a35f;
  .logo {
    border-right: none;
  }
}

.footer__row {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  p {
    margin: 0 0 10px 0;
    color: #fff;
  }
  a {
    display: block;
  }
}

.footer__item {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &:nth-child(2) {
    margin-right: 70px;
  }
  &:last-child {
    flex-grow: 1;
    text-align: right;
  }
  a {
    transition-duration: 500ms;

    &:hover {
      letter-spacing: 1px;
    }
  }
}

.footer__phone {
  margin: 0 0 10px 0;
  color: #fff;
  transition-duration: 500ms;
  &:last-child {
    margin: 0;
  }
}

// Медиа-запросы

@media (max-width: 940px) {
  .first_screen {
    padding: 40px 15px 90px;
  }
  .first_screen img {
    bottom: 30px;
  }
  .menu__body {
    .menu__list {
      li {
        overflow: hidden;
        margin: 0 0 0 10px;
        &:last-child {
          display: none;
          margin: 0;
        }
      }
    }
  }

  .first_screen__info {
    padding: 25px 50px;
  }
  .about_company__grey_block {
    width: 30%;
    left: 35%;
  }
  .block_text {
    padding: 15px 0;
  }
  .block_text h2 {
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f343a;
  }
  .block_text h3 {
    margin: 0 0 5px 0;
    font-size: 13px;
    letter-spacing: 0.05em;
  }
  .block_text p {
    font-size: 10px;
    line-height: 14px;
  }
  .about_company__block {
    width: 48%;
  }

  footer {
    padding: 10px 0;
  }

  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__item {
    margin: 10px;
    text-align: center;
  }
  .footer__item:nth-child(2) {
    margin-right: 0px;
  }
  .services {
    .slider .slick-arrow {
      right: 50%;
    }
    .slider .slick-arrow.slick-prev {
      background: url("../img/services__back.svg") 0 0/100% no-repeat;
      bottom: 60px;
      left: 0;
    }
    .slider .slick-arrow.slick-next {
      background: url("../img/services__next.svg") 0 0/100% no-repeat;
      right: 0;
      top: calc(100% - 60px - 24px);
    }
    .slider .slick-slide {
      justify-content: space-around;
    }
    .slider {
      .title {
        font-size: 22px;
        line-height: 39px;
      }
      .services__info {
        p {
          font-size: 16px;
        }
      }
      .services__row {
        justify-content: space-around;
        align-items: center;
      }
    }

    .slider .slick-slide .services__image {
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 800px) {
  .menu__body {
    .menu__list {
      span {
        &:before,
        &:after {
          display: none;
        }
        a {
          &:before,
          &:after {
            display: none;
          }
          &:hover {
            color: #fff;
          }
        }
      }
      .menu_sub-link {
        &:before,
        &:after {
          display: none;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .header_fixline {
    display: none;
  }

  .header_navigation {
    margin: 15px 0 15px 0;
  }
  .header__row {
    display: flex;
    justify-content: center;
  }
  .header_navigation__menu {
    //display: block;
    padding: 10px;

    .menu__icon {
      display: block;
      z-index: 6;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #c8a35f;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 40%;
        transform: scale(1) translate(0, 50%);
      }
    }
  }

  body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    transform: rotateX(0);
    transition: transform 0.3s ease 0s;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 5px solid #fff;
  }

  .menu__body {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px;
    transition: left 0.3s ease 0s;
    .menu__list {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      > li {
        position: relative;
        overflow: visible;
      }
      li {
        margin: 5px;
        padding: 15px;
        visibility: visible;
        &:last-child {
          span {
            display: block;
            cursor: pointer;
          }
          display: block;
          margin: 0;
        }
      }
      a {
        font-size: 25px;
        //padding: 15px;
      }
      .menu__sub-list {
        position: absolute;
        z-index: 6;
        top: 100%;
        right: 0 - 26%;
        color: #fff;
        min-width: 200px;
        text-align: center;
        transform: translate(0, -25%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
      }

      .menu_sub-link {
        color: white;
        font-size: 14px;
      }
    }
  }

  body._touch .menu__list > li._active .menu__sub-list {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  body._touch .menu__list > li._active .menu__arrow {
    transform: rotateX(180deg);
  }

  .header_navigation__logo {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: none;
    }
    .our_office {
      display: none;
    }
  }

  .first_screen {
    padding: 50px 20px 70px;
    .first_screen__title {
      margin: 0 0 45px 0;
      font-size: 44px;
      line-height: 55px;
    }
    img {
      bottom: 20px;
    }
  }

  .all_services {
    .all_services__row {
      .all_services__item {
        width: 48%;
      }
    }
  }
  .all_services
    .all_services__row
    .all_services__item
    .all_services__link
    span {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 5px;
  }

  .gold-line {
    margin: 80px 0 20px 0;
  }

  .lang {
    display: flex;
    a {
      margin-right: 3px;
    }
  }

  .all_services__item .all_services__link span {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
  }

  .title {
    font-size: 20px;
    line-height: 29px;
  }
  .about_company__block {
    width: 100%;
  }
  .block_text h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 150%;
  }
  .first_screen__info {
    padding: 10px 25px;
  }

  .first_screen {
    .first_screen__title {
      margin: 0 0 15px 0;
      font-size: 30px;
      line-height: 45px;
    }
    padding: 55px 0 80px 0;
    img {
      bottom: 20px;
    }
  }

  .services .slider .services__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    .services__title {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .services {
    .slider .slick-slide .services__image {
      display: none;
    }
    .services__item {
      width: 100%;
      p {
        font-size: 15px;
      }
    }

    .slider .slick-arrow {
      width: 100px;
      height: 25px;
    }

    .slider .slick-arrow.slick-prev {
      background: url("../img/services__back.svg") 0 0/100% no-repeat;
    }
    .slider .slick-arrow.slick-next {
      background: url("../img/services__next.svg") 0 0/100% no-repeat;
    }
  }
  .about_company__item {
    width: 40%;
  }

  .about_company__text {
    width: 55%;
  }

  .menu__list a {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .all_services {
    .all_services__row {
      .all_services__item {
        width: 90%;
      }
    }
  }
}
